.header{
    // padding: 10px 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

    .nav{
        display: flex;
        align-items: center;
        justify-content: center;

        &-item{
            padding: 10px;

            display: flex;
            align-items: center;
            justify-content: center;

            // color: black;
            text-decoration: none;

            // font-weight: 500;
            font-size: 18px;
        }
    }

    &-logo{
        width: 110px;
    }
}